body{
  margin:0px;
  background-color:#ADD8E6
}
#content, #album, #info{
  float:left;
}
#content{
  padding:1%;
  width:50%
}
#album{
  border:;
  width:30%
}
#info{
  border:;
  mav-width:19%
}

#player audio::-wekit-media-controls-play-button{
  display:none
}
#player audio{
  height:1em;
}
#player button{
  float:left;
}
#banner{
  height:300px;
  width:100%;
}
ul{
  
}
audio::-webkit-media-controls-panel{
  background-color:#ADD8E6
}
#info img{
  width:80%; 
  padding:5%;
}
#info{
  width:18%;
  
}
#album img{
  width:80%;
  padding:5%;
}
#info p , #info h3 , #info a{
  width:70%;
  padding:5%;
}
