body{
  text-align:center;
  margin:0px
}
#bg{
  width:150vw;
  position:fixed;
  top:0px;
  left:0px;
  z-index:-999;
}
#preheader{
  font-family:'Dancing Script';
  font-weight:bold;
  color:rgb(255,255,255)

}
#header{
  position: sticky;
  top: 0px;
  color:lightgrey;
  text-decoration: none;
  background-color:teal;
  padding:4.5%;
}
#header h3 {
  display: inline;
}
hr{
  width:50%;
  height:1px;
  border:;
}
#container{
  background-color:rgba(85,255,255,0.4);
  margin-left:15%;
  margin-right:15%;
  border-radius:10px;
  text-align:left;
  padding:10px
}
/*--.header{
   display: inline;
   color:lightgrey;
   text-decoration: none;
} */
#footer{
  background-color:teal;
  margin-left:0;
  margin-right:0;
  border-radius:0;
  font-family:sans-serif;
  text-align:center;
  padding:5%;
}
img{
  float:right;
}
h2{
  text-align:center;
  font-family:serif;
}
div div div{
  font-family:sans-serif;
}
span{
  color:white;
  margin:5%
}
#top{
  background-color:teal;
  margin:0px;
  padding:4.5%
}
h3{
  display: inline;
  color:lightgrey;
  text-decoration: none;
}
a{
  display: inline;
  color:lightgrey;
  text-decoration: none;
}
#vert-hr{
  width:1px;
  height:2200px;
  display:inline;
  margin:15%;
}
#footer-float{
  display:inline;
  float:right
}
